* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D8EAC7;
}

.BMI {
  /* width: 400px; */
  /* height: 500px; */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  /* padding: 20px; */
}

.box {
  width: 150px
}

.data {
  flex: 1;
  padding: 15px;
}

h1 {
  font-weight: 500;
  margin-bottom: 20px;
  padding: 10px 0px;
  text-transform: uppercase;
  color: #333314;
}

.input-container {
  margin-bottom: 15px;
}

.i {
  display: block;
  margin-bottom: 5px;
  color: #888;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 18px;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #2980b9;
  }

}
.result{
  margin-top: 20px;
  padding: 10px;
  border:1px solid #3489db;
}
.result p:first-child{
  color: #3489db;
  font-weight: bold;
}